mixin comment(comments)

    .comment-user(data-comment-id =comments.id) 
        a(href=`/user/${comments.owner._id}`)
            img(src="/"+comments.owner.avatarUrl).profileImg
        .user
            .user-info 
                span #{comments.owner.name} #{comments.createdAt.toString().substring(0,25)}
            .user-comment
                span #{comments.text}
        if String(user._id) === String(comments.owner._id)    
            .delete-box
                i.far.fa-trash-alt.delete
        
