// Config
@import "./config/variables";
@import "./config/reset";
@import "./components/menu.scss";

//Componets
@import "./components/header.scss";
@import "./components/side.scss";
@import "./components/share.scss";
@import "./components/footer.scss";
@import "./components/form.scss";
@import "./components/socialLogin.scss";
@import "./components/profileImage.scss";
@import "./components/comment.scss";
//screens
@import "./screens/home.scss";
@import "./screens/myprofile.scss";
@import "./screens/watch.scss";
* {
    box-sizing: border-box;
}
body {
    margin: 0;
    min-height: 100vh;
    background-color: $bg;
    min-height: max-content;
}
a {
    text-decoration: none;
    color: black;
    &:visited {
        color: black;
    }
}

@keyframes goAway {
    from {
        transform: none;
        opacity: 1;
    }
    to {
        transform: translateX(-100px);
        opacity: 0;
    }
}

.messages {
    position: fixed;
    top: 90vh;
    left: 40px;
    padding: 20px 40px;
    color: white;
    background-color: $red;
    border-radius: 500px;
    animation: goAway 1.5s ease-in-out forwards;
    animation-delay: 2s;
    font-size: 13px;
    opacity: 0.9;
}
