// Config
@import "./config/variables";
@import "./config/reset";
@import "./components/menu.scss";

//Componets
@import "./components/header.scss";
@import "./components/side.scss";
@import "./components/share.scss";
@import "./components/footer.scss";
@import "./components/form.scss";
@import "./components/socialLogin.scss";
@import "./components/profileImage.scss";
@import "./components/comment.scss";
//screens
@import "./screens/home.scss";
@import "./screens/myprofile.scss";
@import "./screens/watch.scss";
* {
    box-sizing: border-box;
}
body {
    margin: 0;
    // height: calc(100vh - 65px);
    height: max-content;
}
a {
    text-decoration: none;
    &:visited {
        color: black;
    }
}
