.profile-container {
    display: grid;
    grid-template-rows: 15% 5% 80%;
    width: 100%;
    .profile-header {
        display: flex;
        padding: 10px 3%;
        align-items: center;
        height: 100%;
        #myProfileImg {
            height: 70px;
            width: 70px;
            border-radius: 50%;
            margin-right: 20px;
        }

        .profile-meta {
            font-size: 20px;
            span {
                font-size: 15px;
            }
            .name {
                margin-bottom: 10px;
            }
        }
    }
    .profile-menu {
        padding: 20px 3% 0 3%;
        display: grid;
        max-width: 800px;
        min-width: 470px;
        cursor: pointer;
        grid-template-columns: repeat(6, 1fr);
        align-items: center;
        justify-items: center;
        li {
            height: 100%;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        #select {
            border-bottom: 3px solid gray;
        }
    }
}
