.comment {
    .comment-header {
        padding: 20px 0;
        .comment-num {
            padding: 0 0 20px 0;
            #comment-text {
                font-size: 14px;
            }
        }
        .comment-box {
            display: flex;
            align-items: center;

            .comment-form {
                flex: 1;
                display: flex;
                justify-content: center;
                #comment-login {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-color: blue;
                    color: white;
                    padding: 10px 20px;
                    width: 100%;
                }
                #comment-form {
                    width: 95%;
                    .comment-input {
                        // width: 100%;
                        // text-align: start;
                        // background-color: rgb(248, 248, 248);
                        // border-width: 0 0 1px 0;
                        // border-color: #ccc;
                        // font-size: 15px;
                        width: 100%;
                        height: 25px;
                        padding: 10px;
                        box-sizing: border-box;
                        border-width: 0 0 1px 0;
                        background-color: rgb(248, 248, 248);
                        border-color: #ccc;
                        font-size: 15px;
                        resize: none;
                        &::-webkit-scrollbar {
                            display: none;
                        }
                        &:focus {
                            outline: none;
                        }
                    }
                    #text-submit {
                        margin-top: 5px;
                        width: 100%;
                        display: flex;
                        justify-content: flex-end;
                        button {
                            padding: 3px 10px;
                            border: none;
                            display: none;
                        }
                    }
                }
            }
        }
    }
    #comment-user {
        padding: 20px 0;
        display: flex;
        #user {
            flex: 1;
            #user-info {
                font-size: small;
                margin-left: 2.5%;
                margin-bottom: 7px;
            }
            #user-comment {
                width: 95%;
                margin: auto;
            }
        }
    }
}
