header {
  height: 50px;
  padding: 10px;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  nav {
    ul {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .home-icon {
        color: $red;
        font-size: 25px;
      }
      .search {
        form {
          display: flex;
          align-items: center;
          input {
            width: 530px;
            height: 28px;
            font-size: 15px;
            padding: 2px 6px;
            border-width: 1px 0 1px 1px;
            border-style: solid;
            border-color: gray;
            &:focus-visible {
              outline: none;
            }
          }
          button {
            border: 1px solid gray;
            i {
              font-size: 20px;
              padding: 2px 6px;
              color: rgb(85, 84, 84);
            }
          }
        }
      }
    }
  }
  .profileImg {
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
  }
}
