.menu {
  display: flex;
  flex-direction: column;
  // justify-content: space-between;
  min-width: 210px;
  ul {
    // display: flex;
    // flex-direction: column;
    // justify-content: space-between;
    // height: 100%;
    display: grid;
    align-items: center;
    li {
      display: block;
      padding: 20px;
      font-size: 15px;
      cursor: pointer;
      &:hover {
        background-color: rgb(228, 227, 227);
      }
    }
  }
  .top {
    flex: 0.7;
    border-bottom: rgb(172, 171, 171) 1px solid;
  }
  .mid {
    flex: 0.7;
    border-bottom: rgb(172, 171, 171) 1px solid;
  }
  .bot {
    flex: 2;
  }
}
