doctype html 
html 
    head 
        script(src="https://kit.fontawesome.com/09d76f860c.js" crossorigin="anonymous")
        link(rel="stylesheet", href="/static/css/styles.css")
    body
        include parts/header.pug
        include parts/side.pug
        main
            block content