extends base
include mixins/video

block content
    if messages.logout 
        span.messages=messages.logout
    if messages.login 
        span.messages=messages.login
    if messages.error 
        span.messages=messages.error
    .container
        include parts/side.pug
        .bc
            if Number(videos.length) !== 0
                .video-grid
                        each video in videos 
                            +video(video)
            else 
                p.not  텅