extends base
include mixins/video

block content
    .container
        include parts/side.pug
        .video-container
            if Number(videos.length) !== 0
                .video-grid
                    each video in videos 
                        +video(video)
            else 
                p.not 검색결과 없음