extends base
include mixins/video

block content
    if messages.error 
        span.messages=messages.error
    if messages.messages 
        span.messages=messages.messages
    .container
        include parts/side.pug
        .bc
            if Number(videos.length) !== 0
                .video-grid
                    each video in videos 
                        +video(video)
            else 
                p.not 검색결과 없음