/*!**********************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/client/scss/styles.scss ***!
  \**********************************************************************************************************************/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.menu {
  min-width: 200px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 65px;
  padding: 12px 50px;
}
header .home-icon {
  color: #ff0000;
  font-size: 20px;
  font-weight: 500;
}
header .home-icon::after {
  content: "YouTube";
  color: black;
}
header form {
  width: 30%;
}
header form input {
  width: 90%;
  border: 1px solid #b6b6b6;
  padding: 3px;
}
header form button {
  width: 10%;
  border: 1px solid #b6b6b6;
  border-left: none;
  padding: 3px;
  cursor: pointer;
}
header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header nav #nav-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 200px;
}
header nav #nav-menu .user-menu {
  font-weight: 600;
}
header nav #nav-menu .user-menu a {
  color: #ff0000;
}
header nav #nav-menu2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100px;
}
header nav #nav-menu2 .user-menu {
  font-weight: 600;
}
header nav #nav-menu2 .user-menu a {
  color: #ff0000;
}

.menu {
  display: flex;
  flex-direction: column;
  min-width: 210px;
}
.menu ul {
  display: grid;
  align-items: center;
}
.menu ul li {
  display: block;
  padding: 20px;
  font-size: 15px;
  cursor: pointer;
}
.menu ul li:hover {
  background-color: #e4e3e3;
}
.menu .top {
  flex: 0.7;
  border-bottom: #acabab 1px solid;
}
.menu .mid {
  flex: 0.7;
  border-bottom: #acabab 1px solid;
}
.menu .bot {
  flex: 2;
  padding: 20px;
  font-weight: 700;
}

.bc {
  width: 100%;
  height: 100%;
  background-color: #f8f8f8;
}
.bc .not {
  text-align: center;
  font-weight: 500;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
}

.video-grid {
  flex: 8.5;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(190px, 1fr));
  grid-column-gap: 20px;
  grid-row-gap: 40px;
  padding: 40px 3%;
  height: fit-content;
}
.video-grid .video {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.video-grid .video .videoInfo {
  display: flex;
  width: 100%;
  min-height: 90px;
}
.video-grid .video .videoInfo .profileImg {
  position: relative;
  top: 5px;
}
.video-grid .video .videoInfo .meta {
  padding: 0 20px 0 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.video-grid .video .videoInfo .meta .title {
  font-size: 16px;
  position: relative;
  top: 5px;
}
.video-grid .video .videoInfo .meta .meta-video {
  display: flex;
  flex-direction: column;
  position: relative;
  top: 35px;
  font-size: 14px;
  color: gray;
}
.video-grid .video .videoInfo .meta .meta-video a {
  margin-bottom: 5px;
}
.video-grid .video .videoSize {
  width: 100%;
}
.video-grid .video .videoSize:visited {
  color: black;
  text-decoration: none;
}
.video-grid .video .videoSize video {
  width: 100%;
}

hr {
  height: 1px;
  background-color: #ccc;
  border: none;
}

input:focus {
  outline: none;
}

footer {
  text-align: center;
  padding: 70px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90vh;
}
.form a {
  color: blue;
}
.form form {
  display: flex;
  flex-direction: column;
  width: 20%;
}
.form form input {
  height: 30px;
  font-size: 15px;
  margin-bottom: 10px;
}
.form form button {
  height: 30px;
  font-size: 15px;
  margin-bottom: 10px;
}

.social-login {
  border: 1px solid #767676;
  padding: 1px 6px;
  width: 20%;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #44c569;
  border-radius: 3px;
}
.social-login a:visited {
  color: black;
}
.social-login i {
  font-size: 15px;
  color: white;
}

.profileImg {
  cursor: pointer;
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

@keyframes showDelete {
  from {
    transform: none;
    opacity: 0;
  }
  to {
    transform: translateX(50%);
    opacity: 1;
  }
}
.comment .comment-header {
  padding: 20px 0;
}
.comment .comment-header .comment-num {
  padding: 0 0 20px 0;
}
.comment .comment-header .comment-num #comment-text {
  font-size: 14px;
}
.comment .comment-header .comment-box {
  display: flex;
  align-items: center;
}
.comment .comment-header .comment-box #profileImg {
  min-height: 56px;
  display: flex;
  align-items: flex-start;
}
.comment .comment-header .comment-box .comment-form {
  flex: 1;
  display: flex;
  justify-content: center;
  margin-left: 15px;
}
.comment .comment-header .comment-box .comment-form #comment-login {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: blue;
  color: white;
  padding: 10px 20px;
  width: 100%;
}
.comment .comment-header .comment-box .comment-form #comment-form {
  width: 100%;
}
.comment .comment-header .comment-box .comment-form #comment-form .comment-input {
  width: 100%;
  height: 25px;
  max-height: 310px;
  box-sizing: border-box;
  border-width: 0 0 1px 0;
  background-color: #f8f8f8;
  border-color: #ccc;
  font-size: 15px;
  outline: none;
  resize: none;
  display: flex;
  align-items: flex-end;
}
.comment .comment-header .comment-box .comment-form #comment-form .comment-input::-webkit-scrollbar {
  width: 0;
}
.comment .comment-header .comment-box .comment-form #comment-form .comment-input:focus {
  transition: 0.5s linear;
  border-color: black;
}
.comment .comment-header .comment-box .comment-form #comment-form #text-button {
  min-height: 26px;
  margin-top: 5px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.comment .comment-header .comment-box .comment-form #comment-form #text-button button {
  padding: 2px 10px;
  border: none;
  display: none;
}
.comment .comment-header .comment-box .comment-form #comment-form #text-button #cancle {
  margin-right: 5px;
}
.comment .comment-user {
  padding: 20px 0;
  width: 100%;
  display: flex;
}
.comment .comment-user .user {
  flex: 1;
  margin-left: 15px;
}
.comment .comment-user .user .user-info {
  font-size: small;
  margin-bottom: 7px;
}
.comment .comment-user .user .user-comment {
  width: 100%;
  margin: auto;
  white-space: pre-wrap;
}
.comment .comment-user .delete-box {
  width: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: gray;
}
.comment .comment-user .delete-box .delete {
  display: none;
  cursor: pointer;
}

.container {
  display: flex;
  height: 100%;
}

.profile-container {
  display: grid;
  grid-template-rows: 15% 5% 80%;
  width: 100%;
}
.profile-container .profile-header {
  display: flex;
  padding: 10px 3%;
  align-items: center;
  height: 100%;
}
.profile-container .profile-header #myProfileImg {
  height: 70px;
  width: 70px;
  border-radius: 50%;
  margin-right: 20px;
}
.profile-container .profile-header a {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: flex-end;
  font-size: 20px;
  cursor: pointer;
  color: gray;
}
.profile-container .profile-header .profile-meta {
  font-size: 20px;
}
.profile-container .profile-header .profile-meta span {
  font-size: 15px;
}
.profile-container .profile-header .profile-meta .name {
  margin-bottom: 10px;
}
.profile-container .profile-menu {
  padding: 20px 3% 0 3%;
  display: grid;
  max-width: 800px;
  min-width: 470px;
  cursor: pointer;
  grid-template-columns: repeat(6, 1fr);
  align-items: center;
  justify-items: center;
}
.profile-container .profile-menu li {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.profile-container .profile-menu #select {
  border-bottom: 3px solid gray;
}

.content {
  display: grid;
  justify-content: center;
  grid-template-columns: 3fr 1fr;
  padding: 1.5% 5%;
  height: 100%;
}
.content .main-video {
  padding: 0 2%;
}
.content .main-video hr {
  margin: 0;
  padding: 0;
}
.content .main-video video {
  width: 100%;
  object-fit: cover;
  max-height: 700px;
}
.content .main-video .video-first-info {
  padding: 10px 0;
}
.content .main-video .video-first-info #hastags {
  margin-bottom: 5px;
  color: #065fd4;
  font-size: 12px;
}
.content .main-video .video-first-info #hastags .hashtag {
  margin-right: 5px;
}
.content .main-video .video-first-info #title {
  font-size: 18px;
}
.content .main-video .video-first-info #video-meta-info {
  font-size: 14px;
  line-height: 28px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.content .main-video .video-first-info #video-meta-info .view-time {
  font-size: 12px;
}
.content .main-video .video-first-info #video-meta-info .view-time #view {
  margin-right: 5px;
}
.content .main-video .video-first-info #video-meta-info .thumbs {
  color: gray;
  width: 30%;
  align-items: center;
  font-size: 15px;
}
.content .main-video .video-first-info #video-meta-info .thumbs i {
  cursor: pointer;
  margin-right: 5px;
  font-size: 20px;
}
.content .main-video .video-first-info #video-meta-info .thumbs .fa-thumbs-down {
  position: relative;
  top: 3px;
  margin-left: 30px;
}
.content .video-second-info {
  padding: 20px 0;
}
.content .video-second-info .owner-info {
  display: flex;
}
.content .video-second-info .owner-info .owner {
  display: flex;
  align-items: center;
  flex: 1;
}
.content .video-second-info .owner-info #subscription {
  padding: 0 20px;
  font-size: smaller;
  border: none;
  background-color: #ff0000;
  color: white;
  cursor: pointer;
  height: 40px;
}
.content .video-second-info .owner-info .owner-info-subscription {
  display: flex;
  flex-direction: column;
  margin-left: 15px;
}
.content .video-second-info .owner-info .owner-info-subscription #subscription-container {
  display: flex;
  margin-top: 3px;
  font-size: small;
}
.content .video-second-info .owner-info .owner-info-subscription #subscription-container span {
  font-size: 11px;
}
.content .video-second-info .owner-info .owner-info-subscription #subscription-container #subscribers {
  margin: 0 2px;
}
.content .video-second-info .description {
  margin: 20px 0 0 55px;
  font-size: 15px;
}
.content .video-list {
  display: block;
  width: 100%;
}
.content .video-list .watch {
  max-height: 100px;
  display: grid;
  grid-template-columns: 45% 55%;
  grid-template-rows: repeat(auto-fit, 100px);
  margin-bottom: 8px;
}
.content .video-list .watch .profileImg {
  display: none;
}
.content .video-list .watch .watchInfo {
  width: 100%;
}
.content .video-list .watch .watchInfo .meta {
  height: 100%;
  padding: 10px;
}
.content .video-list .watch .watchInfo .meta .meta-watch {
  position: relative;
  top: 50%;
  display: flex;
  flex-direction: column;
  font-size: 12px;
}
.content .video-list .watch .watchInfo .meta .meta-watch a {
  margin-bottom: 5px;
}
.content .video-list .watch .videoSize {
  height: 100px;
}
.content .video-list .watch .videoSize video {
  height: 100px;
  object-fit: cover;
  width: 100%;
}

#comment-login {
  color: blue;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  height: auto;
  min-height: max-content;
}

a {
  text-decoration: none;
  color: black;
}
a:visited {
  color: black;
}

@keyframes goAway {
  from {
    transform: none;
    opacity: 1;
  }
  to {
    transform: translateX(-100px);
    opacity: 0;
  }
}
.messages {
  position: fixed;
  top: 90vh;
  left: 40px;
  padding: 20px 40px;
  color: white;
  background-color: #ff0000;
  border-radius: 500px;
  animation: goAway 1.5s ease-in-out forwards;
  animation-delay: 2s;
  font-size: 13px;
  opacity: 0.9;
}
