extends ../base 

block content
    form(method="post")
        input(type="text", placeholder="Title", name="title")
        input(type="text", placeholder="Description", name="description")
        input(type="text", placeholder="HashTags", name="hashtags")
        button(type="submit") upload