header
    nav     
        ul 
            li 
                a(href="/") Home 
            li 
                a(href="/join") Join
            li 
                a(href="/upload") Upload
            li 
                a(href="/login") Login