header
    nav     
        ul
            li 
                a(href="/") Home 
            if isLogIn
                li 
                    a(href="/upload") Upload    
                li 
                    a(href="/logout") Logout
            else    
                li 
                    a(href="/join") Join
                li 
                    a(href="/login") Login