header
    nav     
        ul
            li 
                a(href="/") Home 
            if loggedIn
                li 
                    a(href="/upload") Upload    
                li 
                    a(href="/logout") Logout
                li 
                    a(href=`/user/${user._id}`) My Profile 
                li 
                    a(href=`/user/${user._id}/editProfile`) Edit Profile
            else    
                li 
                    a(href="/join") Join
                li 
                    a(href="/login") Login