if messages.logout 
        span.messages=messages.logout
if messages.login 
    span.messages=messages.login
if messages.error 
    span.messages=messages.error
if messages.messages 
    span.messages=messages.messages