extends ../base

block content 
    .form
        form(method="post")
            input(type="password", placeholder="Old Password", name="old")
            input(type="password", placeholder="New Password", name="new1")
            input(type="password", placeholder="Compare Password", name="new2")
            button(type="submit") Change Password
        
