extends ../base

block content 
    form(method="post")
        input(type="text", placeholder="Id", name="id")
        input(type="password",placeholder="Password" name="password")
        button(type="submit") Login