extends ../base

block content
    if messages.join 
        span.messages=messages.join
    if messages.error 
        span.messages=messages.error
    .form 
        form(method="post")
            input(type="text", placeholder="Id", name="id")
            input(type="password",placeholder="Password" name="password")
            button(type="submit") Login
        .social-login
            a(href="/github/start") 
                i.fab.fa-github     
                    | github login  