extends ../base

block content 
    // 이미지 클릭시 이미지 수정 추가 
    //- img.profileImg(src="" , alt="profileImg", width="200px" , height="200px")
    h3.name=user.name
    span.subscribers=users.meta.subscribers
    //가지고있는 비디오 
