extends ../base
include ../mixins/video
block content 
    .container
        include ../parts/side.pug
        .profile-container
            .profile-header 
                img(src="/"+users.avatarUrl).profileImg#myProfileImg
                .profile-meta
                    p.name=users.name
                    if Number(users.meta.subscribers) !== 0
                        span.subscribers #{users.meta.subscribers} 명
                    else 
                        span.subscribers 구독자 없음
                if String(user._id) === String(users._id)
                    a(href=`/user/${user._id}/editProfile`)
                        i.fas.fa-user-edit
            ul.profile-menu 
                li#select 
                    span 홈
                li 
                    span 동영상
                li 
                    span 재생목록
                li 
                    span 커뮤니티
                li 
                    span 정보
                li 
                    i.fas.fa-search
            .video-grid
                each video in users.video
                            +video(video)
block script 
    script(src="/static/js/myProfile.js") 
        //가지고있는 비디오 
